.container{
    width:1200px;
    height: 100%;
    background-color:#FFF;
    padding:0px;
    color: #000;
    font-family: 'Ubuntu', sans-serif;

}
.header {
    width: 1200px;
    height: 150px;
    background-color: #000;
    padding: 15px;
    color: #0b9af1;
    font-size: 40px;
}

.header a {
    font-family: 'Baloo', cursive;
    font-size: 45px;
    color: #0b9af1;
}
.header a:hover{
    color: #00daff;
}

#logo{
    width: 410px;
    float:left;
}
a {
    color:#000;
}

#userName{
    float:right;
    font-size: 15px;
}

#loginForm {
    width:760px;
    font-size:15px;
    padding-left:83px;
    float: right;
  }

#password, #email{
    width:200px;
}

#loginerror{
    width: 1000px;
    text-align: right;
    margin-right:200px;
    font-size:20px;
}

.registationForm {
    margin: 30px;
    font-size: 15px;
    margin-bottom: 50%;

}

input{
    text-align: center;
    background-color: #96b6de;
    border: none;
    color: #000;
    border-radius: 20px;
    margin:10px;
}

.menu{
    height: 50px;
}

.menuButton{
    width: 200px;
    height: 50px;
    background-color: #333;
    color:#c1b2b2;
    text-align: center;
    font-size:20px;
    padding:8px;
    float:left;
    /*font-family: OpenSans,Helvetica Neue,Helvetica,Tahoma,Arial,FreeSans,sans-serif;*/
    font-family: 'Ubuntu', sans-serif;
}

.menuButton:hover{
    color: #FFF;
}


.registrationInput{
    margin-left:50px;
}

.buttonregistration{
    float:right;
}

.buttongreen {
    border-radius: 4px;
    background-color: #96b6de;
    border: none;
    color: #000;
    text-align: center;
    font-size: 15px;
    padding: 5px;
    width: 150px;
    transition: all 0.5s;
    cursor: pointer;
    margin-top:10px;
    /*margin-left:50px;*/
}

.buttongreen span {
    cursor: pointer;
    display: inline-block;
    position: relative;
    transition: 0.5s;
}

.buttongreen span:after {
    content: '\00bb';
    position: absolute;
    opacity: 0;
    top: 0;
    right: -20px;
    transition: 0.5s;
}

.buttongreen:hover span {
    padding-right: 25px;
}

.buttongreen:hover span:after {
    opacity: 1;
    right: 0;
}

#selectatraction{
    width: 600px;
    margin-left: auto;
    margin-right: auto;
}

.InfoAtractions{
    height: 46px;
    border-color: red;
    margin-left: auto;
    margin-right: auto;
    /*border: solid 2px;*/
    /*border-color: #66d218;*/
    /*border-radius: 20px;*/
}

#attractions{
    min-height:200px;
}

.atraction{
    width: 824px;
    height: 420px;
    border: solid 5px;
    border-color: #0b9af1;;
    margin-left: auto;
    margin-right: auto;
    margin-top: 30px;
    background-color: #FFF;
    border-radius: 20px;


}
.atractionName{
    width: 400px;
    font-size: 25px;
    float: left;
    padding:5px;
    text-align: center;

}

.atractionCategory{
    width: 230px;
    font-size: 20px;
    float: left;
    padding:5px;

}

.atractionCity{
    width: 170px;
    font-size:20px;
    float: left;
    padding:5px;

}

.fotoslider{
    width: 1000px;
    height: 500px;
    /*wysokosc natpisana w html*/
    margin:20px,0px;
    background-color:#bfa6bc;
    color: #000;
    margin-left: auto;
    margin-right: auto;
}

.foto{
   padding:7px;
   border-radius: 20px;
   }

.foto:hover{
    opacity: 0.5;
}

.clear{
    clear:both;
}

a:hover {
    text-decoration: none;
   }

select {
    width: 150px;
    padding: 10px 20px;
    margin: 20px;
    border: none;
    border-radius: 10px;
    background-color: #f1f1f1;
}

.allAboutAtraction{
    width: 824px;
    height: 100%;
    border: solid 5px;
    border-color: #0b9af1;
    margin-left: auto;
    margin-right: auto;
    margin-top: 30px;
    background-color: #FFF;
    border-radius: 20px;

}
.informationAboutAtraction{
 padding: 30px;
}

#textNewComment{

    display:block;
    margin-left: auto;
    margin-right:auto;
    margin-top:20px;
    text-align: left;
    width:800px;
    height:100px;
    background-color: #f0f2f5;
    border: solid 2px;
    border-color: #0b9af1;
    padding:10px;
}

.buttonAddComment{
    margin-left:825px;
    margin-bottom: 20px;
}

.comments{
    width: 1200px;
    height: 100%;
    padding:20px;
}

.comment{
    width: 800px;
    height: 100%;
    margin-bottom: 20px;
    border: solid 5px;
    border-color: #0b9af1;
    border-radius: 2em;
    margin-left: auto;
    margin-right: auto;
}
.commentUserName{
    width: 640px;
    padding-left:10px;
    border-top-left-radius: 2em;
    background-color: #0b9af1;
    float:left;
    color:#FFF;
}
.commentDate{
    width: 150px;
    border-top-right-radius: 2em;
    background-color: #0b9af1;
    float:left;
    color:#FFF;
}
.commentText{
    padding:20px;
}

.removeComment{
    margin-top: -10px;
    float:right;
}

.footer{
    margin-top:30px;
    width: 100%;
    height: 50px;
    color:#FFF;
    padding:20px;
    text-align: center;
    background-color: #000;
    font-size: 20px;
}
