{% include 'header.html' %}

        <div class="allAboutAtraction">
            <div class="InfoAtractions">
                <div class="atractionName"> {{ atractions.name_atraction}}</div>
                <div class="atractionCategory">Kategoria  {{ atractions.category}}</div>
                <div class="atractionCity"> Miejsce  {{ atractions.city}}</div>
            </div>
            <div class="clear"></div>
            <a href="{{atractions.website}}">

            <div class="foto"><img src="img/{{ atractions.pictures}}" alt="" style="width:800px;height:350px;"></div>
            </a>
            <div class="informationAboutAtraction">
                {{ atractions.data}}
            </div>

        </div>
{% if username %}
    <div class="addComment">

        <form  action="index.php?action=addComment"  method="POST" >
            <input type="text" name="textNewComment" id="textNewComment"></br>
        <input type="hidden" name="atractionId"  value="{{atractions.id_atraction}}">

            <button class="buttongreen buttonAddComment" ><span>Dodaj opinie </span></button>
        </form>
    </div>


{% endif %}

<div class="comments">

        {% for comment in comments %}

         <div class="comment">
             <div class="commentUserName">
                 {{comment.user_email}}
             </div>
             <div class="commentDate">
                 {{comment.date }}
             </div>
             <div class="clear"></div>
             <div class="commentText">
                 {{comment.comment}}
                 {% if actualUser == comment.user_email %}
                 <form  class='removeComment'  action="index.php?action=removeComment"  method="POST" >
                     <input type="hidden" name="id_comment"  value="{{comment.id_comment}}">
                     <input type="hidden" name="atractionId"  value="{{atractions.id_atraction}}">
                     <button class="buttongreen" ><span>Usuń opinie </span></button>
                 </form>
                 {% endif %}
             </div>
        </div>

        {% endfor %}


</div>





{% include 'footer.html' %}


