{% include 'header.html' %}


    <form class="registationForm" action="mailto:michal_85@onet.eu" method="post" enctype="text/plain">
        Masz sugestie lub pytania napisz do mnie!<br><br>
        Imię:<br>
        <input type="text" name="name"><br>
        E-mail:<br>
        <input type="text" name="mail"><br>
        Komentarz:<br>
        <input type="text" name="comment" size="50"><br><br>
        <button class="buttongreen"><span>Wyslij </span></button>
    </form>

{% include 'footer.html' %}
