<!DOCTYPE html>
<html lang="en">
<head>
    <meta charset="UTF-8">
    <title>index</title>
    <link rel="stylesheet" href="css/bootstrap.min.css">
    <link rel="stylesheet" href="css/style.css">
    <script src="js/jquary.min.js"></script>
    <script src="js/bootstrap.min.js"></script>
    <script src="js/main.js?seed={{random(1000000000)}}"></script>
    <link href="https://fonts.googleapis.com/css?family=Baloo" rel="stylesheet">
    <link href="https://fonts.googleapis.com/css?family=Ubuntu" rel="stylesheet">
</head>
<body>

<div class="header">

    Error 404 . Cos poszlo nie tak :/
</div>

</body>
</html>