<!DOCTYPE html>
<html lang="en">
<head>
    <meta charset="UTF-8">
    <title>Atrakcje Trójmiasta</title>
    <link rel="icon" type="image/jpg" href="img/lighthouse.jpg">
    <link rel="stylesheet" href="css/bootstrap.min.css">
    <link rel="stylesheet" href="css/style.css">
    <script src="js/jquary.min.js"></script>
    <script src="js/bootstrap.min.js"></script>
    <script src="js/main.js?seed={{random(1000000000)}}"></script>
    <link href="https://fonts.googleapis.com/css?family=Baloo" rel="stylesheet">
    <link href="https://fonts.googleapis.com/css?family=Ubuntu" rel="stylesheet">
</head>
<body>

<div class="container">
    <div class="header">
        <div id="logo">
        <a href="http://atrakcjetrojmiasta.local/">Atrakcje Trójmiasta</a>
        </div>
        {% if username %}
        <div id="userName">{{loginfo}}</div>
        <div class="clear"></div>


        <form action="index.php?action=logout" method="POST">
            <button  class="buttongreen buttonregistration"><span>Wyloguj </span></button>
        </form>

        {% else %}
        <form id="loginForm" action="index.php?action=login" method="POST">
            <label for="email">E-mail  </label><input type="text" name="email" id="email" value="">
            <label for="password">Hasło  </label><input type="password" name="password" id="password">
            <button class="buttongreen"><span>Zaloguj </span></button>
        </form>
        <form action="index.php?action=registration" method="POST">
            <button class="buttongreen buttonregistration"><span>Rejestracja </span></button>

        </form>
        {% endif %}

        {% if loginfoerror %}
        <div id ='loginerror' >{{loginfoerror}}</div>
        {% endif %}

    </div>

    <div class="menu">
        <a href="http://atrakcjetrojmiasta.local#selectatraction">
            <div class="menuButton">
                Znajdź
            </div>
        </a>
        <a href="http://atrakcjetrojmiasta.local/index.php?action=top5#selectatraction">
            <div class="menuButton">
                Top 5
            </div>
        </a>
        <a href="http://atrakcjetrojmiasta.local/index.php?action=forKids#selectatraction">
            <div class="menuButton">
                Dla dzieci

            </div>
        </a>
        <a href="http://atrakcjetrojmiasta.local/index.php?action=inProgress">
            <div class="menuButton">
                Miejsce na selfie

            </div>
        </a>
        <a href="http://atrakcjetrojmiasta.local/index.php?action=inProgress">
            <div class="menuButton">
                Czego nie wiesz

            </div>
        </a>
            <a href="http://atrakcjetrojmiasta.local/index.php?action=contact">
                <div class="menuButton">
                    Kontakt

                </div>
            </a>



    </div>
