    {% include 'header.html' %}

    <div id="carousel-example-generic" class="carousel slide" data-ride="carousel">
        <!-- Indicators -->
        <ol class="carousel-indicators">
            <li data-target="#carousel-example-generic" data-slide-to="0" class="active"></li>
            <li data-target="#carousel-example-generic" data-slide-to="1"></li>
            <li data-target="#carousel-example-generic" data-slide-to="2"></li>
        </ol>

        <!-- Wrapper for slides -->

        <div class="carousel-inner" role="listbox">
            {% for atraction in atractions |slice (0,3) %}

            <div class="item">
                <a href="index.php?action=allAboutAtraction&atractionId={{atraction.id_atraction}}">
                    <img class="fotoslider" src="img/{{ atraction.pictures}}" alt="" style="width:1000px;height:500px;">
                </a>
                <div class="carousel-caption" style="font-size: 20px;">
                    {{ atraction.name_atraction}} w mieście {{ atraction.city}}
                </div>
            </div>
            {% endfor %}
        </div>

        <!-- Controls -->
        <a class="left carousel-control" href="#carousel-example-generic" role="button" data-slide="prev">
            <span class="glyphicon glyphicon-chevron-left" aria-hidden="true"></span>
            <span class="sr-only">Previous</span>
        </a>
        <a class="right carousel-control" href="#carousel-example-generic" role="button" data-slide="next">
            <span class="glyphicon glyphicon-chevron-right" aria-hidden="true"></span>
            <span class="sr-only">Next</span>
        </a>
    </div>

    <div id="selectatraction">

        <select id="CityChoice" class="param">
            <option value="0">- miejsce -</option>
            <option value="Gdańsk">Gdańsk</option>
            <option value="Gdynia">Gdynia</option>
            <option value="Sopot">Sopot</option>

        </select>
        <select id="Category" name="param">
            <option value="0">- kategoria -</option>
            <option value="Zwiedzanie">Zwiedzanie</option>
            <option value="Przyroda">Przyroda</option>
            <option value="Rozrywka">Rozrywka</option>
        </select>
        <input type="text" name="email" id="find" value="" placeholder="Szukaj">
        </br>
    </div>

<div id="attractions">
        {% for atraction in atractions %}
    {% include "oneAtraction.html" %}

        {% endfor %}
    </div>


{% include 'footer.html' %}


