
<a href="index.php?action=allAboutAtraction&atractionId={{atraction.id_atraction}}">
        <div class="atraction">
            <div class="InfoAtractions">
                <div class="atractionName"> {{ atraction.name_atraction}}</div>
                <div class="atractionCategory">Kategoria -  {{ atraction.category}}</div>
                <div class="atractionCity"> Miasto - {{ atraction.city}}</div>
            </div>
            <div class="clear"></div>

            <div class="foto"><img src="img/{{ atraction.pictures}}" alt="" style="width:800px;height:350px;"></div>
        </div>
    </a>

