{% include 'header.html' %}

    {{loginfo}}
    <form class="registationForm" action="index.php?action=registration" method="POST">
        <label class="registrationInput" for="email">Email </label><input type="email" name="email" id="email"></br>
        <label class="registrationInput" for="password">Hasło </label><input type="password" name="password" id="password"></br>
        <label class="registrationInput" for="password">Powtórz hasło </label><input type="password" name="password2" id="password2"></br>
    <button class="buttongreen" ><span>Rejestruj </span></button>
        <FORM><button class="buttongreen" onClick="history.go(-1);return true;" ><span>Wróć </span></button></FORM>
    </form>


{% include 'footer.html' %}
